@model webspare.Models.Danhsachlinhkien

@{
    ViewData["Active"] = "Home";
    ViewData["Title"] = "Laylinhkien";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>Xác nhận lấy linh kiện</title>

<style>
    .col-7 {
        text-align: center;
    }
</style>

<section class="content-header">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0"> <i class="fas fa-inbox"> </i> Lấy linh kiện</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a href="javascript: history.go(-1)">Danh sách linh kiện</a></li>
                        <li class="breadcrumb-item active">Lấy linh kiện</li>

                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <form asp-controller="Home" asp-action="Laylinhkien" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Model" />
            <input type="hidden" asp-for="Tenjig" />
            <input type="hidden" asp-for="Majig" />
            <input type="hidden" asp-for="Tenlinhkien" />
            <input type="hidden" asp-for="Malinhkien" />
            <input type="hidden" asp-for="Maker" />
            <input type="hidden" asp-for="Donvi" />
            <input type="hidden" asp-for="Dongia" />
            <input type="hidden" asp-for="Ghichu" />
            <input type="hidden" asp-for="Image" />

            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="card shadow">
                        <div class="card-body" style="text-align:center">
                            @if (Model.Model != null)
                            {
                                <div class="form-group row">
                                    <label class="col-5 col-form-label">Model</label>
                                    <div class="col-7">
                                        @Html.DisplayFor(model => model.Model)
                                    </div>
                                </div>
                            }
                            @if (Model.Tenjig != null)
                            {
                                <div class="form-group row">
                                    <label class="col-5 col-form-label">Tên Jig</label>
                                    <div class="col-7">
                                        @Html.DisplayFor(model => model.Tenjig)
                                    </div>
                                </div>
                            }
                            @if (Model.Majig != null)
                            {
                                <div class="form-group row">
                                    <label class="col-5 col-form-label">Mã Jig</label>
                                    <div class="col-7">
                                        @Html.DisplayFor(model => model.Majig)
                                    </div>
                                </div>
                            }
                            @if (Model.Tenlinhkien != null)
                            {
                                <div class="form-group row">
                                    <label class="col-5 col-form-label">Tên linh kiện</label>
                                    <div class="col-7">
                                        @Html.DisplayFor(model => model.Tenlinhkien)
                                    </div>
                                </div>
                            }
                            @if (Model.Malinhkien != null)
                            {
                                <div class="form-group row">
                                    <label class="col-5 col-form-label">Mã linh kiện</label>
                                    <div class="col-7">
                                        @Html.DisplayFor(model => model.Malinhkien)
                                    </div>
                                </div>
                            }
                            @if (Model.Maker != null)
                            {
                                <div class="form-group row">
                                    <label class="col-5 col-form-label">Maker</label>
                                    <div class="col-7">
                                        @Html.DisplayFor(model => model.Maker)
                                    </div>
                                </div>
                            }
                            @if (Model.Dongia != null)
                            {
                                <div class="form-group row">
                                    <label class="col-5 col-form-label">Đơn giá</label>
                                    <div class="col-7">
                                        @Html.DisplayFor(model => model.Dongia)
                                    </div>
                                </div>
                            }

                            @if (Model.Ghichu != null)
                            {
                                <div class="form-group row">
                                    <label class="col-5 col-form-label">Ghi chú</label>
                                    <div class="col-7">
                                        @Html.DisplayFor(model => model.Ghichu)
                                    </div>
                                </div>
                            }
                            <div class="card bg-lightblue">
                                <div class="card-body">
                                    <div class="form-group row" style="margin-top: 10px">
                                        <label class="col-5 col-form-label">Tồn kho</label>
                                        <div class="col-7">
                                            @Html.DisplayFor(model => model.Tonkho) @Html.DisplayFor(model => model.Donvi)
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-5 col-form-label">Số lượng lấy</label>
                                        <div class="input-group col-7">
                                            <input asp-for="Tonkho" class="form-control" value="" required="@(true)" />
                                            <div class="input-group-append">
                                                <span class="input-group-text">@Html.DisplayFor(model => model.Donvi)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="card-footer">
                            <form asp-action="Xoa">
                                <input type="hidden" asp-for="Id" />
                                <a class="btn btn-default" href="javascript: history.go(-1)"><i class="fa fa-arrow-left"></i> Quay lại</a>
                                <button type="submit" class="btn btn-success float-right "><i class="fa fa-check"> </i> Xác nhận</button>
                            </form>
                        </div>
                    </div>
                </div>
                @if (Model.Image != null)
                {
                    <div class="col-sm-12 col-md-6">
                        <div class="card shadow">
                            <div class="card-body">
                                <img src="@Url.Content(Model.Image)" alt="Image" style="width:100%" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </form>

    </div>
</section>



